/*navbar*/
.nav1 .navbar-dark .navbar-nav .nav-link {
    color:#E88F16;
    /*font-weight: bold;*/
}
.nav1 .navbar-dark .navbar-nav .nav-link :hover{
    color:#1B2B4B;
    font-weight: bold;
}
.nav2 .navbar-dark .navbar-nav .nav-link {
    color:#1B2B4B;
    font-weight: bold;
}
.nav2 .navbar-dark .navbar-nav .nav-link :hover{
	color:#1B2B4B;
}
.nav-item{
	padding: 0px 12px;
}

     .nav-item :hover{
    	color:#01013c!important;
    }
    .nav-link.dropdown-toggle:hover{
        color:#1B2B4B!important;
    }
    
    .p1:hover{
    	color: white!important;
    }

    #navbarDropdown{
    	color: #1B2B4B;
    }
.logo{
    height: 87px; width: 140px;
    position: absolute;
    left: -17px;
    top: 10px;
    height: 98px;
    width: 163px;
}
.hr1{
    margin-top: -1rem;
}
.fa-search{
    margin-top: 12px;color:#1B2B4B;
    /*width: 120px;*/
    position: absolute;
    right: -10px;
}
.nav2 ul{
    padding-left: 5px;
}
.nav1{
    margin-right: -36px;
}

/*Image Section*/
.home-img{
    background-image: url("../assets/img/home.jpg");
    height: 70vh;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    background-color:#16384c;
    padding-top:5px;
    /*padding-bottom: 1px;*/
    /*margin-left: 70px;*/
    padding-left: 10px;
    padding-right: 10px;
}

.heading h1{
   color: #E88F16;
   font-size: 45px;
}

/*Srolling text*/
.para{
    background-color:#E88F16;
    color: white;
    padding:10px;
    font-size: 20px;
}


.btn1{
    font-size: 20px;
    font-weight: bold;
    color:#1B2B4B;
    background-color:#dad9d9;
    border: 1px solid #fd7705;
    border-radius: 30px;
    padding: 10px;
}
.course{
    background-color:#1B2B4B;
    padding: 30px;
}
/*.course p{
    color: white;
}*/

/*footer1*/
.footer1 ul li{
    list-style-type: none;
    text-align: center;
    padding: 2px;

}
.footer1 ul{
    padding-left: 0px;
}
/*footer2*/

footer .fab{
    font-size: 32px;
    padding: 10px;
}
footer img{
    width: 200px;
}

@media(max-width: 540px){
    .logo{
        position: absolute;
        left: 28px;
    }
    .hr1{
        margin-top: 1rem;
    }
}

@media(max-width: 412px){
    .img1{
     padding-right: 0px!important;
    padding-left: 0px!important;
}
.f1{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.logo{
    position: absolute;
    left: 104px;
}
.navbar-toggler{
    position: absolute;
    left: 150px;
    top: 42px;
    background-color: white;
}
.navbar-nav{
        position: relative;
        top: 93px;
    }
.hr1{
    margin-top: 4rem;
}
.about{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .about h5{
        text-align: center;
    }
    .btn1{
        margin-top: 2px;
        width: 160px;
        /*margin-left: -20px;*/
    }
}
@media(max-width: 376px){
  .img1{
     padding-right: 0px!important;
    padding-left: 0px!important;
}
.f1{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.logo{
    position: absolute;
    left: 104px;
}
.navbar-toggler{
    position: absolute;
    left: 150px;
    top: 42px;
    background-color: white;
}
.navbar-nav{
        position: relative;
        top: 93px;
    }
.hr1{
    margin-top: 4rem;
}
.about{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .about h5{
        text-align: center;
    }
    .btn1{
        margin-top: 2px;
        width: 160px;
        /*margin-left: -20px;*/
    }
}
@media(max-width: 321px){
     .img1{
     padding-right: 0px!important;
    padding-left: 0px!important;
}
.f1{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.logo{
    height: 57px;
    width: 100px;
    position: absolute;
    left: -17px;
    top: 10px;
    height: 63px;
    width: 123px;
    left: 82px;
}
.navbar-toggler{
    position: absolute;
    left: 150px;
    top: 32px;
    background-color: white;
}
.navbar-nav{
        position: relative;
        top: 73px;
    }
.hr1{
    margin-top: 3rem;
}
}
@media(max-width: 280px){
    .img1{
     padding-right: 0px!important;
    padding-left: 0px!important;
}
.f1{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.logo{
    height: 57px;
    width: 100px;
    position: absolute;
    left: -17px;
    top: 10px;
    height: 63px;
    width: 123px;
    left: 82px;
}
.navbar-toggler{
    position: absolute;
    left: 150px;
    top: 42px;
    background-color: white;
}
.hr1{
    margin-top: 3rem;
}

.about{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .about h5{
        text-align: center;
    }
    .btn1{
        margin-top: 2px;
        width: 160px;
        margin-left: -20px;
    }
}
